<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454206925681-jd712jqv1h0f2937p9lj7e5r6bg4kvfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454206925681-jd712jqv1h0f2937p9lj7e5r6bg4kvfr</string>
	<key>API_KEY</key>
	<string>AIzaSyAmDlOccd3OJwU7nSg8ASQUTj8OfRbYBjM</string>
	<key>GCM_SENDER_ID</key>
	<string>454206925681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-d41c6</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-d41c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454206925681:ios:4e5c4b63f505151f5524d0</string>
</dict>
</plist>